{% extends "base.html" %}
{% block title %}All Papers{% endblock %}
{% block content %}
<h1 class="mt-4">All Papers</h1>
<form method="post">
    <div class="mb-3">
        <button type="submit" name="action" value="move_to_unread" class="btn btn-primary">Move to Unread</button>
        <button type="submit" name="action" value="move_to_left_swiped" class="btn btn-danger">Move to Swiped Left</button>
    </div>
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"></th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for paper in papers %}
            <tr>
                <td><input type="checkbox" name="selected_papers" value="{{ paper.paper_id }}"></td>
                <td>
                    {% if paper.status == 'unread' %}
                        <i class="fas fa-bookmark" style="color: blue;" title="Unread"></i>
                    {% elif paper.status == 'in_review' %}
                        <i class="fas fa-hourglass-half" style="color: orange;" title="In Review"></i>
                    {% elif paper.status == 'read' %}
                        <i class="fas fa-check-circle" style="color: green;" title="Read"></i>
                    {% elif paper.status == 'left_swiped' %}
                        <i class="fas fa-times-circle" style="color: red;" title="Swiped Left"></i>
                    {% endif %}
                    {{ paper.title }}
                </td>
                <td>
                    <a href="{{ url_for('view_paper', paper_id=paper.paper_id.replace('http://', '')) }}">View &amp; Take Notes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<!-- Include Font Awesome for icons -->
{% block scripts %}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script>
    // Select/Deselect all checkboxes
    document.getElementById('select_all').onclick = function() {
        var checkboxes = document.getElementsByName('selected_papers');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}
{% endblock %}

